
@{
    ViewBag.Title = "DateFact";
}

<h2>DateFact</h2>

<h1>@ViewBag.Error</h1>
<h2>@ViewBag.ErrorDescription</h2>

<h3>The random fact based off the day and month you selected is:<br /> @ViewBag.Fact</h3>
