
@{
    ViewBag.Title = "RandomFact";
}

<h2>RandomFact</h2>

<h1>@ViewBag.Error</h1>
<h2>@ViewBag.ErrorDescription</h2>

<h3>The random fact based off the category you selected is:<br> @ViewBag.Fact</h3>